body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000814; /* Fondo oscuro */
    color: white;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #001233; /* Fondo del canvas */
}
